html {
  background: #000;
}

.class {
  border: none;
  background-color: rgb(1, 173, 173);
  margin: .2rem;
  border-radius: 7%;
  padding: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  transition: all .3s ease;
  cursor: grabbing;
  border: 1px solid white;
}

.class:hover {
  background-color: rgb(173, 1, 1);
}
